*-ide-plugin.xml
*.class
*.ear
*.ec
*.egg-info
*.iml
*.ipr
*.iws
*.MainThread-*
*.pid
*.pid.lock
*.pyc
*.sqlite
*.swp
*.war
*.bak
*class
*.log
*~
.classpath
.DS_Store
.gradle
.idea
.idea/
.idea/*
.idea/workspace.xml
.installed.cfg
.project
.settings
.settings/
.svn
.svn/*
/bin
/bin/
bin
build
develop-eggs
dist
dist/*
docs/
eggs
Gemfile.lock
git.properties
ivy*jar
logs
out/
out/*
parts
reports
reports/*
target/
test/.coverage
test/coverage.xml
test/nosetests.xml
test-output/
tmp
tmp/*