# MacOS
.DS_Store

# Tests
/reports/
/tmp/

# Distribution
/dist/

# IntelliJ build directory
/.idea/workspace.xml
/out/

# JRebel
rebel.xml
rebel-remote.xml

# Sonar
sonarIssues.xml
