<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false">
	<appender name="CONSOLE_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%4relative %highlight(%5p) [%-17thread] - %-200msg - %d %logger{30} \(%file:%line\)%n%ex{full}</pattern>
		</encoder>
	</appender>
	<appender name="DEV_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<prudent>true</prudent>
		<File>target/trolCommander.log</File>
		<encoder>
			<pattern>%4relative %5p [%-17thread] - %-200msg - %d %logger{30} \(%file:%line\)%n%ex{full}</pattern>
		</encoder>
<!--		
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>target/trolCommander.log.%d{yyyy-MM-dd}</fileNamePattern>
		</rollingPolicy>
-->		
	</appender>


	<root level="INFO">
		<appender-ref ref="CONSOLE_APPENDER" />
		<appender-ref ref="DEV_APPENDER" />
	</root>
	<logger name="ch.qos.logback" level="WARN" />
	<logger name="com.mucommander" level="INFO" />
</configuration>